body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(../images/background.jpeg) no-repeat center center fixed;
	font-family: sans-serif;
	background-size: cover;
}	

.login-container {
	position: absolute;
	width: 90%;
	height: 450px;
	background: rgba(0, 0, 0, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
	border: 2px solid red;
}

.dp {
	position: absolute;
	width: 90px;
	height: 90px;
	top: -50px;
	left: calc(50% - 45px);
}
