body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(../images/background.jpeg) no-repeat center center fixed;
	font-family: sans-serif;
	background-size: cover;
}	

.login-container {
	position: absolute;
	width: 90%;
	height: 450px;
	background: rgba(0, 0, 0, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;

}

.dp {
	position: absolute;
	width: 90px;
	height: 90px;
	top: -50px;
	left: calc(50% - 45px);
}

.form, .signin-nav {
	position: relative;
	top: 2em;
}

.signin-nav {
	
	
}

ul {

}
li {
	
	padding: 2em;
	list-style: none;
	display: inline;
}

button{
	text-transform: uppercase;
	padding: 0 0.5em;
	background: transparent;
	border: none;
	color: #aaa;
	font-size: large;
	font-weight: bold;
}

button:hover {
	border-bottom: 3px solid #1965d7;
	color: #fff;
}